<div class="col-xs-12 col-sm-7 col-md-8">
    <div class="card border-radius-0">
        <div class="card-block" id="comp-tipic-form">
            <h5 class="card-title m-b-2">Create Topic</h5>

            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" novalidate #f="ngForm" (ngSubmit)="formSubmit(f.valid)">
                        <div class="form-group row" [class.has-error]="!title.valid && f.submitted">
                            <div class="col-sm-12">
                                <input type="text" required minlength="5" [(ngModel)]="topic.title" #title="ngModel"
                                       name="title"
                                       class="form-control border-radius-0" id="inputTitle" placeholder="Topic Title">
                                <small [hidden]="title.valid || (title.pristine && !f.submitted)" class="text-danger">
                                    Title is required
                                </small>
                            </div>
                        </div>
                        <div class="row form-group" [class.has-error]="!topic.content && f.submitted">
                            <div class="col-sm-12">
                                <ckeditor required #content="ngModel" [config]="ckeditorConfig"
                                          [(ngModel)]="topic.content" [ngModelOptions]="{standalone: true}"></ckeditor>
                                <small [hidden]="topic.content || (!topic.content && !f.submitted)" class="text-danger">
                                    Content is required
                                </small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <div class="attachments-input">
                                    <input type="file" #fileUpload multiple (change)="onFiles()">
                                    <button class="file-button">+ Add Files...</button>
                                </div>
                                <ul class="uploader-progress" *ngIf="upload_files">
                                    <li *ngFor="let file of upload_files; let i = index">
                                        <span class="m-r-1 text-danger remove-item" (click)="removeUpload(i)"><i
                                                class="fa fa-times"></i></span>
                                        <span>{{ file.name }}</span>
                                        <span class="text-muted">{{ file.size | bytes }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row form-group m-t-2">
                            <div class="col-sx-12 text-xs-center">
                                <button type="button" class="btn btn-primary border-radius-0" *ngIf="isUploading"
                                        disabled>
                                    <i class="fa fa-spinner fa-spin"></i> Uploading...
                                </button>
                                <button type="submit" class="btn btn-primary border-radius-0" *ngIf="!isUploading">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-default border-radius-0" *ngIf="!isUploading"
                                        (click)="reset_form()">Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
