# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*/settings/local.py

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

static/app
media
templates/app
node_modules/
typings/
*.crt
*.key
*.pem
*.cer
.idea
dev1.db
dev.db

webpack-stats-prod.json
webpack-stats-dev.json
