{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>Hello from {{ site_name }}!</p>
<p>You're receiving this e-mail because user <strong>{{ user_display }}</strong> at <a href="{{ site_domain }}">{{ site_domain }}</a> has given yours as an e-mail address to connect their account.</p>
<p>To confirm this is correct, go to <a href="{{ activate_url }}/{{ user_display }}">{{ activate_url }}/{{ user_display }}</a></p>
{% endblocktrans %}{% endautoescape %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>Thank you from <a href="{{ site_domain }}">{{ site_name }}</a>!</p>
{% endblocktrans %}