<p style="font-size: large">Welcome to {{ site }}</p>
<p>Hooray! You've just joined the world's largest community of data scientists! </p>
<br>
<p>Whether you're new to the field or a veteran looking to collaborate with other experts, you're in the right place. Here are a few ways to get started: </p>
<ul>
    <li>Join a <a href="{{ competition_url }}">competition</a></li>
    <li>Join a <a href="{{ gallery_url }}">gallery</a></li>
</ul>
<p>Have a question or feedback? The forums are the best place to find an answer or start a conversation with like minds.</p>
<p>Happy modeling</p>
<p><a style="text-decoration: none" href="{{ site_url }}">{{ site }}</a></p>