@import '../../theme/sass/freelancer';
#carousel-example-generic {
  height: 500px;
  .carousel-inner{
    height: 500px;
    .carousel-item{
      height: 100%;
    }
    img{
      height: 100%;
      width: 100%;
    }
  }
}

#portfolio{
  img{
    width: 100%;
    height: auto;
    max-height: 200px;
  }
  .caption-content{
    span,small{
      display: block;
    }
  }
}

section {
  padding: 50px 0;
}

h3{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}