@import 'conf/conf';

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.input-group-addon {
  width: 43px;
}

.border-radius-0 {
  border-radius: 0;
}

.input-group{
  width: 100%;
  input{
    height: 40px;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}