<div class="col-xs-12 col-sm-7 col-md-8">
    <div class="card border-radius-0">
        <div class="card-block">
            <div id="comp-info">
                <div class="card-title topic-title">
                    <a style="cursor: pointer" class="text-muted" (click)="onAllTopic()">All Topics</a> /
                    <a class="text-primary">{{ topic.title }}</a>
                </div>
                <div class="content" [innerHTML]="topic.content"></div>
                <div class="topic-attachments m-t-1" *ngIf="topic.attachments?.length">
                    <h6 class="card-title">{{ topic.attachments?.length }} Attachment<span
                            *ngIf="topic.attachments?.length > 1">s</span> —</h6>
                    <ul>
                        <li *ngFor="let at of topic.attachments">
                            <a href="{{ at.url }}">{{ at.name }}</a>
                            <span class="text-muted">({{ at.size | bytes }})</span>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    <small class="text-muted">Posted {{ topic.created | amTimeAgo }} by <a
                            [routerLink]="['/u', topic.author_name]">{{ topic.author_display }}</a></small>
                </p>
            </div>
        </div>
    </div>
    <div class="card border-radius-0" *ngIf="topic.id">
        <div class="card-block">
            <tp-comment [identifier]="'topic-' + this.topic.id + '-' + this.topic.slug" [title]="topic.title"
                        [lang]="'en'"></tp-comment>
        </div>
    </div>
</div>
