<div class="widgets">
    <div class="row">
        <p-dataTable [value]="dataList" [rows]="20" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked" expandableRows="true">
            <p-column expander="true" styleClass="col-icon"></p-column>
            <p-column field="uploaded" header="Uploaded" [sortable]="true">
                <template let-data="rowData" pTemplate type="body">
                    {{ data.uploaded | date:'medium' }}
                </template>
            </p-column>
            <p-column field="author" header="Author" [filter]="true"></p-column>
            <p-column field="competition" header="Competition" [filter]="true" filterMatchMode="contains">
                <template let-data="rowData" pTemplate type="body">
                    <a [routerLink]="['/sysadmin/competitions', data.competition_slug]" class="text-primary" target="_blank">
                        {{ data.competition }}
                    </a>
                </template>
            </p-column>
            <p-column field="score" header="Score" [sortable]="true" styleClass="text-xs-center">
                <template let-data="rowData" pTemplate type="body">
                    <strong *ngIf="!data.is_valid" class="text-danger">Error</strong>
                    <span *ngIf="data.processed && data.is_valid">{{ data.score }}</span>
                    <span *ngIf="!data.processed && data.is_valid" class="text-muted">Scoring</span>
                </template>
            </p-column>
            <footer>There are {{ dataList?.length }} submissions</footer>
            <template let-data>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 text-muted"><strong>File: </strong></div>
                                    <div class="ui-grid-col-10">{{ data.name }}</div>
                                </div>
                                <div class="ui-grid-row" *ngIf="data.description">
                                    <div class="ui-grid-col-2 text-muted"><strong>Description: </strong></div>
                                    <div class="ui-grid-col-10">{{ data.description }}</div>
                                </div>
                                <div class="ui-grid-row" *ngIf="!data.is_valid">
                                    <div class="ui-grid-col-2 text-muted"><strong>Submision info/warnings: </strong></div>
                                    <div class="ui-grid-col-10">{{ data.message_log }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid">
                    <button type="button" class="btn btn-link btn-sm text-primary" (click)="onEdit(data)">
                        <i class="fa fa-edit"></i> Edit Description
                    </button>
                    <a href="{{ data.url }}" class="btn btn-link text-primary"><i class="fa fa-download"></i> Download</a>
                    <button type="button" class="btn btn-link btn-sm text-danger" (click)="onDelete(data)">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </div>
            </template>
        </p-dataTable>
        <p-dialog
                [appendTo]="formSettings.appendTo"
                [(header)]="formSettings.header"
                [(modal)]="formSettings.modal"
                [(visible)]="formSettings.visible"
                [(draggable)]="formSettings.draggable"
                [(resizable)]="formSettings.resizable"
                [(responsive)]="formSettings.responsive"
                [(width)]="formSettings.width" *ngIf="formSettings.visible">
            <form class="form-horizontal" novalidate #f="ngForm" (ngSubmit)="formSubmit(f.valid)">
                <div class="row">
                    <label for="inputID" class="form-control-label">UID: <strong>{{ editRow.uid }}</strong></label>
                </div>
                <div class="row" [class.has-error]="!description.valid && f.submitted">
                    <label for="inputDescription" class="form-control-label">Description: </label>
                    <div class="col-sm-12">
                        <textarea rows="6" required #description="ngModel" [(ngModel)]="editRow.description"
                                  name="description" class="form-control" style="width: 100%"></textarea>
                        <small [hidden]="description.valid || (description.pristine && !f.submitted)" class="text-danger">
                            Description is required
                        </small>
                    </div>
                </div>
                <footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton icon="fa-close" (click)="hideDialog()" label="Cancel"></button>
                        <button type="submit" pButton icon="fa-check" label="Edit"></button>
                    </div>
                </footer>
            </form>
        </p-dialog>
    </div>
</div>
