.search-input {
  .icon {
    position: absolute;
    top: 0;
    width: 45px;
    height: 100%;
    right: 15px;
    cursor: pointer;
    color: white;
    &:hover {
      background: #ccc;
      color: white;
    }
    i {
      color: #333;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  input {
    padding-right: 45px;
    &:focus {
      border-color: #ccc;
    }
  }
}
.topic-title {
  margin-top: 10px;
}
.topic-count {
  font-size: 11px;
  color: #818a91;
}

a{
  cursor: pointer;
}