<div class="col-xs-12 col-sm-7 col-md-8">
    <div class="card border-radius-0">
        <div class="card-block" id="comp-topics-list">
            <h5 class="card-title m-b-2">
                Competition Forum <em class="topic-count" *ngIf="topicList?.length">({{ topicList?.length }} topic<span
                    *ngIf="topicList?.length > 1">s</span>)</em>
            </h5>

            <div class="row">
                <div class="col-xs-12 col-sm-6 m-b-1">
                    <div class="search-input">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                        <input type="text" class="form-control border-radius-0" #gb>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 m-b-1">
                    <a class="btn btn-primary-outline border-radius-0 pull-md-right" (click)="getTab('tp-form')">
                        New Topic
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 m-t-2">
                    <div class="cp-prime-table">
                        <p class="text-muted text-xs-center" *ngIf="loadding_forums"><i
                                class="fa fa-spinner fa-spin"></i> Loading topics</p>
                        <p-dataTable *ngIf="!loadding_forums" [value]="topicList | orderBy: ['-last_post_at', '-id']"
                                     [responsive]="true"
                                     [rows]="15" [paginator]="true" [pageLinks]="5" [paginatorPosition]="'both'"
                                     [emptyMessage]="'No topics found.'" [globalFilter]="gb">
                            <p-column header="Votes" styleClass="col-width-100 text-md-center text-muted">
                                <template let-data="rowData" pTemplate type="body">
                                    <span *ngIf="data.votes">{{ data.votes }}</span>
                                    <span *ngIf="!data.votes">—</span>
                                </template>
                            </p-column>
                            <p-column header="Topic" field="title" [filter]="true" filterMatchMode="contains">
                                <template let-data="rowData" pTemplate type="body">
                                    <h6 class="topic-title"><a class="text-primary" (click)="getTopic(data.slug)">{{ data.title }}</a>
                                    </h6>
                                            <span class="text-muted topic-info">
                                                <em>by</em>
                                                <a [routerLink]="['/u', data.author_name]">{{ data.author_display }}</a>, {{ data.created | amTimeAgo }}
                                            </span>
                                </template>
                            </p-column>
                            <p-column header="Replies" styleClass="col-width-100 text-md-center text-muted">
                                <template let-data="rowData" pTemplate type="body">
                                    <span>{{ data.replies }}</span>
                                </template>
                            </p-column>
                            <p-column header="Last post" styleClass="col-width-120 text-md-center text-muted">
                                <template let-data="rowData" pTemplate type="body">
                                            <span class="topic-info" *ngIf="data.last_post_id">
                                                <a [routerLink]="['/c', competition.slug, 'forums', 't', data.slug]"
                                                   [fragment]="'comment-'+data.last_post_id">{{ data.last_author }}</a>
                                                <br>
                                                <span>{{ data.last_post_at | amTimeAgo }}</span>
                                            </span>
                                    <span class="topic-info" *ngIf="!data.last_post_id">—</span>
                                </template>
                            </p-column>
                            <p-column field="content" [filter]="true" filterMatchMode="contains" styleClass="col-width-0">
                                <template let-data="rowData" pTemplate type="body">
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
