<fr-login-top></fr-login-top>
<div class="col-sm-8 col-sm-offset-2">
    <div class="card m-x-auto m-t-3" style="max-width: 450px">
        <div class="card-block">
            <h1 class="text-xs-center">Reset Password</h1>
            <hr>
            <div class="alert alert-success" *ngIf="successMessages">
                {{ successMessages }}
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                <div class="form-group"
                     [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input [formControl]="email" type="email" class="form-control" id="inputEmail3"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                               placeholder="Enter your email" name="email">
                    </div>
                    <div *ngIf="!email.valid && email.touched" class="text-danger">
                        <span *ngIf="email.errors.required">Email is required.</span>
                        <span *ngIf="email.errors.pattern">Email is unformatted.</span>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="!form.valid" type="submit"
                            class="btn btn-primary btn-block border-radius-0">Reset password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>