<fr-login-top></fr-login-top>
<div class="col-sm-8 col-sm-offset-2">
    <div class="card m-x-auto m-t-3" style="max-width: 450px">
        <div class="card-block">
            <h1 class="text-xs-center">Confirm new password</h1>
            <hr>
            <div class="alert alert-danger" *ngIf="errorMessages">
                {{ errorMessages }}
            </div>
            <div class="alert alert-success" *ngIf="successMessages">
                Your password has been reset successfully. Now you can <a [routerLink]="['/login']">login.</a>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                <div class="form-group"
                     [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                    <label for="inputPassword3" class="control-label">Password:</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input [formControl]="password" type="password" class="form-control" id="inputPassword3"
                               placeholder="Password" pattern="[a-zA-Z0-9]+" (keyup)="onChangePassword($event)"
                               (change)="onChangePassword($event)">
                    </div>
                    <div *ngIf="!password.valid && password.touched" class="text-danger">
                        <span *ngIf="password.errors.pattern">Password contains only: a-z A-Z 0-9.</span>
                        <span *ngIf="password.errors.minlength">Username needs to be at least 8 characters.</span>
                    </div>
                    <div *ngIf="error_password" class="text-danger">
                        <span *ngFor="let error of error_password">{{ error }}</span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                    <label for="inputPassword4" class="control-label">Repeat:</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input [formControl]="repeatPassword" type="password" class="form-control"
                               id="inputPassword4"
                               placeholder="Repeat">
                    </div>
                    <div *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)"
                         class="text-danger">
                        <span class="text-danger">Passwords don't match.</span>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="!form.valid" type="submit"
                            class="btn btn-primary btn-block border-radius-0">Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>